.form-container {
    max-width: 320px; }
.form-container .form-button {
    min-width: 75px;
    font-size: 18px;
    display: inline-block;
    padding: 8px 15px;
    margin: 10px auto 0;
    background: rgba(126, 133, 135, 0.89);
    border-radius: 3px;
    border: 1px solid rgba(231, 227, 224, 0.97);
    color: #fff;
    text-align: center; }
.form-container .react-datepicker-wrapper {
    margin: 12px 0 20px; }
.form-container .react-datepicker-wrapper input {
    font-size: 18px;
    min-width: 320px;
    padding: 12px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: rgba(235, 231, 230, 0.34); }
.form-container .react-datepicker-wrapper input:disabled {
    background-color: rgba(183, 179, 178, 0.26); }
