.input-with-validation-container {
    position: relative;
    width: 320px;
    padding-bottom: 20px;
    margin-top: 12px;
    font-size: 18px;
    color: black; }
.input-with-validation-container:first-child {
    margin-top: 0; }
.input-with-validation-container .input {
    font-size: 18px;
    min-width: 320px;
    padding: 12px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: rgba(235, 231, 230, 0.34); }
.input-with-validation-container .input.disabled {
    background-color: rgba(183, 179, 178, 0.26); }
.input-with-validation-container .error-container {
    position: absolute;
    bottom: 0;
    left: 0; }
.input-with-validation-container .error-container .error {
    margin: 0;
    color: red;
    font-size: 13px; }
