.input-with-validation-container {
  position: relative;
  width: 320px;
  padding-bottom: 20px;
  margin-top: 12px;
  font-size: 18px;
  color: black;
  &:first-child {
    margin-top: 0;
  }
  .input {
    font-size: 18px;
    min-width: 320px;
    padding: 12px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: rgba(235, 231, 230, 0.34);
    &.disabled {
      background-color: rgba(183, 179, 178, 0.26);
    }
  }
  .error-container {
    position: absolute;
    bottom: 0;
    left: 0;
    .error {
      margin: 0;
      color: red;
      font-size: 13px;
    }
  }
}