.form-container {
    max-width: 320px;
    margin: 0 auto;
}

.form-container .form-button {
    min-width: 75px;
    font-size: 18px;
    display: inline-block;
    padding: 8px 15px;
    margin: 10px auto 0;
    background: #222;
    border-radius: 3px;
    border: 1px solid rgba(231, 227, 224, 0.97);
    color: #fff;
    text-align: center;
}

.form-container .react-datepicker-wrapper {
    margin: 12px 0 20px;
}

.form-container .react-datepicker-wrapper input:disabled {
    background-color: rgba(183, 179, 178, 0.26);
}

.input-validation-container {
    position: relative;
    width: 320px;
    font-size: 18px;
    color: black;
}

.input-validation-container:first-child {
    margin-top: 0;
}

.input-validation-container .input.disabled {
    background-color: rgba(183, 179, 178, 0.26);
}

.input-validation-container .error-container {
    bottom: 0;
    left: 0;
}

.input-validation-container .error-container .error {
    margin: 0;
    color: red;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.root {
    height: 100vh;
}

.hidden {
    display: none;
}
